<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">

      <p class="notice"> <%= notice %> </p>
      <p class="alert"> <%= alert %> </p>

      <div class="header">
        <ul class="nav justify-content-end">
          <% if current_user %>
            <li class="nav-item">
                Logged in as <%= current_user.name %>
                <%= link_to "Log Out", logout_path %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", signup_path %>
              <%= link_to "Log In", login_path %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to 'Português', root_path(locale: 'pt-BR'), class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'English', root_path(locale: 'en'), class: 'nav-link' %>
          </li>
        </ul>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
