<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="container-fluid">

      <p class="notice"> <%= notice %> </p>
      <p class="alert"> <%= alert %> </p>

      <div class="header">
        <ul class="nav justify-content-end">

          <li class="nav-item">
            <%= link_to 'Português', root_path(locale: 'pt-BR'), class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'English', root_path(locale: 'en'), class: 'nav-link' %>
          </li>
        </ul>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
