<p id="notice"><%= notice %></p>

<h1>Cookies</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cookies.each do |cooky| %>
      <tr>
        <td><%= cooky.flavor %></td>
        <td><%= cooky.price %></td>
        <td><%= link_to 'Show', cooky %></td>
        <td><%= link_to 'Edit', edit_cooky_path(cooky) %></td>
        <td><%= link_to 'Destroy', cooky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooky', new_cooky_path %>
