<%= form_for @customer, local: true do |form| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :customer_address %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.file_field :profile, id: :customer_profile %>
  </div>

  <div class="field">
    <% {'S': 'Sim', 'N': 'Não'}.each do |key, value| %> <br/>
      <%= form.radio_button :smoking, key %> <%= value %> <br/>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar novo cliente", class: 'btn btn-secondary' %>
  </div>

<% end %>